ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0%;
}
li a{
    color: rgb(248, 244, 244);
    text-decoration: none;
}
li{
    margin: 2%;
}
h1 a{
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
body{
    background-color: #02236d;
}
nav{
    background-color: #007bff;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
h2{
    color: white;
}
h4{
    color: white;
}
p{
    color: white;
}
nav img{ /*escudo en navegador*/
        width: 6%;
        height: 18%;
}
main section img{ /*bombonera*/
                width: 100%;
                padding: 10px 0px 0px 0px;
}
.noticiapagprincipal{
            width: 450px;
            padding: 50px 0px 50px 0px;
            align-items: center;
}
.noticiapagprincipal2{
            width: 450px;
            padding: 50px 0px 50px 0px;
            align-items: center;
}
.noticiasprincipales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer section section{
    background-color: #007bff;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
footer div{
    display: flex;
    align-items: center;
}

footer img{
    width: 60px;
}
.fixtures{
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
}
.fixture{
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
.col-4 img{
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.eslogan{
    padding: 20px 0px 20px 50px;
}
.asociateform{
    padding: 5px 10px 30px 10px;
}
.botonform{
    background-color: rgb(255, 251, 0);
    margin: 0px 0px 50px 100px;
}
.proxpartidosmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h6{
    color: white;
}
.plantel{
    margin: 0% 20% 0% 20%;
}
.cp{
    margin: 0% 20% 5% 20%;
}
.fotosgente{
    padding: 0% 5% 0% 5%;
}
.menu{
    display: flex;
    justify-content: space-between !important;
}
.listamenu{
    display: flex;
    justify-content: space-around;
}
.historia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%
}
.historiaultimo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2% 0% 5% 0%;
}
div label{
    color: white;
}
.centrado{
    display: flex;
    justify-content: center;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}